.HeaderEstilo{
    width: 400px;
    height: 50px;
    background-color: var(--googleBlue);
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

a{
    text-decoration: none;
    color: var(--backgroundColor);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;

}
.ativado {
    background-color: var(--backgroundColor);
    color: var(--googleBlue);
}